
<!--当前页中 引入bootstrap-table样式-->
<link href="static/plugins/bootstrap-table/css/bootstrap-table.css" rel="stylesheet">

<!--当前页中 引入bootstrap-table的js-->
<script src="static/plugins/bootstrap-table/js/bootstrap-table.js"></script>
<!--当前页中 引入bootstrap-table的本地化文件-->
<script src="static/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span>用户列表</span>
                </div>
                <!--工具栏-->
                <div id="toolbar" class="actions">
                    <button id="btn_add" type="button" class="btn btn-primary">
                        <span class="fa fa-plus" aria-hidden="true"></span>新增
                    </button>
                    <button id="btn_edit" type="button" class="btn btn-success">
                        <span class="fa fa-edit" aria-hidden="true"></span>修改
                    </button>
                    <button id="btn_delete" type="button" class="btn btn-danger">
                        <span class="fa fa-remove" aria-hidden="true"></span>删除
                    </button>
                </div>
            </div>
            <div class="portlet-body">
                <!--数据列表-->
                <table id="gridList"></table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function(){
        initTable();
    });

    /**
     * 初始化表格
     */
    function initTable(){
        $("#gridList").bootstrapTable({
            url:'/user/getUserList',
            method:'post',
            cache:false,
            pagination:true,
            queryParams:'',
            sidePagination:'server',
            pageNumber:1,
            pageSize:10,
            pageList:[10,20,30,40,50],
            uniqueId:'_id',
            toolbar:'#toolbar',
            showColumns:true,
            showRefresh:true,
            showToggle:true,
            search:true,
            columns:[
                {checkbox:true},
                {field:'user_no',title:'编码',width:'30%'},
                {field:'user_name',title:'姓名',width:'20%'},
                {field:'user_password',title:'密码',width:'20%'},
                {field:'create_time',title:'创建时间',width:'20%'}
            ]
        });
    }

</script>