<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <!-- 引入jquery文件 -->
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="static/jquery-easyui-1.4.4//themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="static/jquery-easyui-1.4.4//themes/icon.css">
    <script type="text/javascript" src="static/common/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="static/jquery-easyui-1.4.4/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <h2>用户表单</h2>
    <div>
        <form id="userform">
            <div>
                <label>姓名</label>
                <input type="text" name="user_name" data-options="required:true" />
            </div>
            <div>
                <label>编码</label>
                <input type="text" name="user_code" data-options="require:true'" />
            </div>
            <div>
                <label>密码</label>
                <input type="password" name="user_password" data-options="require:true"/>
            </div>
            <div>
                <input type="submit" id="submit" value="提交">
            </div>
        </form>
    </div>

    <div id="userList"></div>
</body>
<script>
    $("#submit").click(function(){
        var dataObj = $('#userform').serializeArray();
        $.ajax({
            url:'/user/addUser',
            type:'post',
            dataType:'json',
            data:dataObj,
            success:function(data){
                if(data.success){
                    $.messager.show({
                        title:'提交成功',
                        msg:data.msg
                    })
                }
            }
        });
    });

    //加载数据列表
    $("#userList").datagrid({
        idField:'_id',
        url:'/user/getUserList',
        title:'用户列表',
        width:800,
        height:600,
        striped:true,
        fitColumns:true,
        loadMsg:'加载数据中······',
        columns:[[
            {field:'_id',checkbox:true},
            {field:'user_no',title:'编码',width:80},
            {field:'user_name',title:'姓名',width:80},
            {field:'user_password',title:'密码',width:80},
            {field:'create_time',title:'创建时间',width:80}
        ]],
        onLoadSuccess:function(result){
            if(!result.success){
                $.messager.alert('错误',result.msg,'error');
            }else{
                $.messager.show({
                    title:'获取数据成功',
                    msg:result.msg,
                    timeout:3000,
                    showType:'slide'
                })
            }
        }
    });
</script>
</html>