<!--系统列表页面-->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <!--消息提示显示区-->
            <div id="alertContainer"></div>
            <div class="portlet-title">
                <div class="caption">
                    <span>系统列表</span>
                </div>
                <!--工具栏-->
                <div id="toolbar" class="actions">
                    <a id="btn_add" class="btn btn-primary" onclick="addSys()">
                        <i class="fa fa-plus"></i> 新增系统
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <!--数据列表-->
                <table id="gridList"></table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        initTable();
    });

    /**
     * 跳转到系统详情页
     * */
    function addSys(){
        window.location = '/sys/sysInfo';
    }

    /**
     * 初始化表格
     */
    function initTable(){
        $("#gridList").bootstrapTable({
            url:'/sys/sysList',
            method:'get',
            cache:false,
            pagination:true,
            sidePagination:'client',
            pageNumber:1,
            pageSize:10,
            pageList:[10,20,30,40,50],
            queryParamsType:'',
            queryParams:function(params){
                var param = {
                    page:params.pageNumber,
                    size:params.pageSize
                }
                return param;
            },
            uniqueId:'_id',
            toolbar:'#toolbar',
            showColumns:true,
            showRefresh:true,
            clickToSelect:true,//点击行选中行
            singleSelect:true,
            showToggle:true,
            search:true,
            columns:[
                {title:'ID',checkbox:true,width:'1%'},
                {field:'sys_name',title:'系统名称',width:'10%'},
                {field:'sys_url',title:'首页地址',width:'30%'},
                {field:'sys_status',title:'系统状态',width:'5%',align:'center',
                    formatter:function(value,row,index){
                        if(value == '1'){ //启用状态
                            var btn = '<div><input type="checkbox" data-on-text="启用" data-off-text="禁用" checked ' +
                                    ' data-off-color="danger" value='+value+' idValue='+row._id+' name="status" ' +
                                    'class="make-switch" data-size="mini"/></div>';
                        }else if(value == '0'){ //禁用状态
                            var btn = '<div><input type="checkbox" data-on-text="启用" data-off-text="禁用"  ' +
                                    ' data-off-color="danger" value='+value+' idValue='+row._id+' name="status" ' +
                                    'class="make-switch" data-size="mini"/></div>';
                        }
                        return btn;
                    }
                },
                {field:'operator',title:'操作',width:'12%',align:'center',
                    formatter:function(value,row,index){
                        return "<a id='btn_edit' onclick='editData(\""+row._id+"\")' class='btn btn-success btn-xs'>"+
                                "<i class='fa fa-edit'></i>"+
                                "</a>"+
                                "<a id='btn_delete' onclick='deleteData(\""+row._id+"\")' class='btn btn-danger btn-xs'>"+
                                "<i class='fa fa-trash'></i>"+
                                "</a>";
                    }
                }
            ],
            onLoadSuccess:function(){
                //table加载成功之后渲染switch组件
                $('.make-switch').bootstrapSwitch();
                $('input[type=checkbox]').on('switchChange.bootstrapSwitch',function(e,data){
                    changeSysStatus(this,$(this).attr('idValue'));
                });
            }
        });
    }

    /**
     * 编辑表单数据
     * @param rows
     */
    function editData(id){
        if(!id){
            warnAlert('请选择一条数据修改!');
            return false;
        }else{
            window.location = '/sys/sysInfo?id='+id;
        }
    }

    /**
     * 删除表单数据
     * @param rows
     */
    function deleteData(id){
        if(!id){
            warnAlert('请选择一条数据修改!');
            return false;
        }else{
            $.ajax({
                url:'/sys/deleteSysById',
                type:'get',
                dataType:'json',
                data:{_id:id},
                success:function(result){
                    if(result.success){
                        successAlert('数据删除成功!');
                        $("#gridList").bootstrapTable('refresh');
                    }
                }
            })
        }
    }

    /**
     * 修改状态
     **/
    function changeSysStatus(obj,id){
        var statusValue = $(obj).val();
        var status = statusValue==0?1:0;
        var _id = id;
        $.ajax({
            url:'/sys/changeSysStatusById',
            type:'get',
            dataType:'json',
            data:{_id:_id,status:status},
            success:function(result){
                if(result.success){
                    $(obj).attr('checked','checked');
                }else{
                    dangerAlert(result.msg.message);
                }
            }
        })
    }

</script>