<!--sidebar 侧边菜单页面 -->
<!-- BEGIN SIDEBAR -->
<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <!--<li class="sidebar-toggler-wrapper hide">
            &lt;!&ndash; BEGIN SIDEBAR TOGGLER BUTTON &ndash;&gt;
            <div class="sidebar-toggler">
                <span></span>
            </div>
            &lt;!&ndash; END SIDEBAR TOGGLER BUTTON &ndash;&gt;
        </li>-->

        <li class="nav-item">
            <a href="/index" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">主页</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-speedometer"></i>
                <span class="title">系统监控</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link ">
                        <i class="icon-bulb"></i>
                        <span class="title">控制面板</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="fa fa-cogs"></i>
                <span class="title">平台管理</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="sys" class="nav-link ">
                        <i class="icon-settings"></i>
                        <span class="title">系统管理</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/menu" class="nav-link ">
                        <i class="fa fa-bars  "></i>
                        <span class="title">菜单管理</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/user" class="nav-link ">
                        <i class="icon-users"></i>
                        <span class="title">用户管理</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/role" class="nav-link ">
                        <i class="icon-eye"></i>
                        <span class="title">角色管理</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="/permit" class="nav-link ">
                        <i class="icon-key"></i>
                        <span class="title">权限管理</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>
<!-- END SIDEBAR -->