<!--菜单列表页面-->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <!--消息提示显示区-->
            <div id="alertContainer"></div>
            <div class="portlet-title">
                <div class="caption">
                    <span>菜单列表</span>
                </div>
                <!--工具栏-->
                <div id="toolbar" class="actions">
                    <a id="btn_add" class="btn btn-primary" onclick="add();" data-toggle="modal" data-target="#menuInfo">
                        <i class="fa fa-plus"></i> 新增菜单
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <!--数据列表-->
                <table id="gridList"></table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {
        initTable();
    });

    /**
     * 跳转到新增页面
     * */
    function add(){
        window.location='/menu/menuInfo';
    }

    /**
     * 初始化表格
     */
    function initTable(){
        $("#gridList").bootstrapTable({
            url:'/menu/menuList',
            method:'get',
            cache:false,
            //uniqueId:'_id',
            idField:'_id',
            toolbar:'#toolbar',
            showColumns:true,
            showRefresh:true,
            clickToSelect:true,//点击行选中行
            singleSelect:true,
            showToggle:true,
            search:true,
            pagination:true,
            sidePagination:'client',
            pageNumber:1,
            pageSize:10,
            pageList:[10,20,30,40,50],
            queryParamsType:'',
            queryParams:function(params){
                var param = {
                    page:params.pageNumber,
                    size:params.pageSize
                }
                return param;
            },
            treeShowField:'menu_name',
            parentIdField:'menu_parent',
            columns:[
                {title:'ID',title:'序号',width:'1%',align:'center',
                    formatter:function(value,row,index){
                        return index+1;
                    }
                },
                {field:'menu_code',title:'菜单编码',width:'10%'},
                {field:'menu_name',title:'菜单名称',width:'10%'},
                {field:'menu_url',title:'菜单URL',width:'20%'},
                {field:'menu_sort',title:'菜单序号',width:'5%',align:'center',sortable:true},
                {field:'menu_status',title:'菜单状态',width:'5%',align:'center',
                    formatter:function(value,row,index){
                        if(value == '0'){
                            return '启用';
                        }else if(value == '1'){
                            return '禁用';
                        }
                    }},
                {field:'operator',title:'操作',width:'12%',align:'center',
                    formatter:function(value,row,index){
                        return "<a id='btn_edit' onclick='editData(\""+row._id+"\")' class='btn btn-success'>"+
                                "<i class='fa fa-edit'></i>"+
                                "</a>"+
                                "<a id='btn_delete' onclick='deleteData(\""+row._id+"\")' class='btn btn-danger'>"+
                                "<i class='fa fa-trash'></i>"+
                                "</a>";
                    }
                }
            ],
            onLoadSuccess:function(data){
                $("#gridList").treeGridList({
                    initialState: 'collapsed',
                    treeColumn: 1,
                    //expanderExpandedClass: 'glyphicon glyphicon-minus',
                    //expanderCollapsedClass: 'glyphicon glyphicon-plus',
                    onChange:function(){
                        $("#gridList").bootstrapTable('resetWidth');
                    }
                })
            }
        });
    }


    /**
     * 编辑表单数据
     * @param rows
     */
    function editData(id){
        if(!id){
            warnAlert('请选择一条数据修改!');
            return false;
        }else{
            window.location='/menu/menuInfo?id='+id;
        }
    }

    /**
     * 删除表单数据
     * @param rows
     */
    function deleteData(id){
        if(!id){
            warnAlert('请选择一条数据修改!');
            return false;
        }else{
            var _id = id;
            $.ajax({
                url:'/menu/deleteMenuById',
                type:'get',
                dataType:'json',
                data:{_id:_id},
                success:function(result){
                    if(result.success){
                        successAlert('数据删除成功!');
                        $("#gridList").bootstrapTable('refresh');
                    }else{
                        dangerAlert(result.msg.message);
                    }
                }
            })
        }
    }

</script>