<!--页面header-->
<div class="navbar-container" id="navbar-container">
    <!-- #section:basics/sidebar.mobile.toggle -->
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
        <span class="sr-only">Toggle sidebar</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
    </button>

    <!-- /section:basics/sidebar.mobile.toggle -->
    <div class="navbar-header pull-left">
        <!-- #section:basics/navbar.layout.brand -->
        <a href="#" class="navbar-brand">
            <small>
                <i class="fa fa-leaf"></i>
                后台管理平台
            </small>
        </a>

        <!-- /section:basics/navbar.layout.brand -->

        <!-- #section:basics/navbar.toggle -->

        <!-- /section:basics/navbar.toggle -->
    </div>

    <!-- #section:basics/navbar.dropdown -->
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="grey">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="ace-icon fa fa-tasks"></i>
                    <span class="badge badge-grey">4</span>
                </a>

                <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                    <li class="dropdown-header">
                        <i class="ace-icon fa fa-check-square"></i>
                        4 待办任务
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">软件更新</span>
                                <span class="pull-right">65%</span>
                            </div>

                            <div class="progress progress-mini">
                                <div style="width:65%" class="progress-bar"></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">硬件更新</span>
                                <span class="pull-right">35%</span>
                            </div>

                            <div class="progress progress-mini">
                                <div style="width:35%" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">单元测试</span>
                                <span class="pull-right">15%</span>
                            </div>

                            <div class="progress progress-mini">
                                <div style="width:15%" class="progress-bar progress-bar-warning"></div>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">Bug修复</span>
                                <span class="pull-right">90%</span>
                            </div>

                            <div class="progress progress-mini progress-striped active">
                                <div style="width:90%" class="progress-bar progress-bar-success"></div>
                            </div>
                        </a>
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">
                            查看任务详情
                            <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="purple">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                    <span class="badge badge-important">8</span>
                </a>

                <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                    <li class="dropdown-header">
                        <i class="ace-icon fa fa-exclamation-triangle"></i>
                        8 通知提醒
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
												有新评论
											</span>
                                <span class="pull-right badge badge-info">+12</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="btn btn-xs btn-primary fa fa-user"></i>
                            Bob 注册成为了编辑
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
												我的订单
											</span>
                                <span class="pull-right badge badge-success">+8</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
											<span class="pull-left">
												<i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
												我的关注
											</span>
                                <span class="pull-right badge badge-info">+11</span>
                            </div>
                        </a>
                    </li>

                    <li class="dropdown-footer">
                        <a href="#">
                            查看通知详情
                            <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="green">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                    <span class="badge badge-success">5</span>
                </a>

                <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                    <li class="dropdown-header">
                        <i class="ace-icon fa fa-envelope-o"></i>
                        5 新消息
                    </li>

                    <li class="dropdown-content">
                        <ul class="dropdown-menu dropdown-navbar">
                            <li>
                                <a href="#">
                                    <img src="static/ace/assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">亚历克斯:</span>
														Node.js特性说明 ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>刚刚</span>
													</span>
												</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="static/ace/assets/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">苏珊:</span>
														Java9将于2017.09.21发布 ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>20分钟前</span>
													</span>
												</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="static/ace/assets/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">鲍勃:</span>
														系统升级计划 ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>2017-08-14 18:35</span>
													</span>
												</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="static/ace/assets/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">凯特:</span>
														会议文件传达 ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>2017-08-14 13:15</span>
													</span>
												</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <img src="static/ace/assets/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
												<span class="msg-body">
													<span class="msg-title">
														<span class="blue">法里德:</span>
														客户联系方式  ...
													</span>

													<span class="msg-time">
														<i class="ace-icon fa fa-clock-o"></i>
														<span>2017-08-14 10:23</span>
													</span>
												</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown-footer">
                        <a href="inbox.html">
                            查看所有消息
                            <i class="ace-icon fa fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- #section:basics/navbar.user_menu -->
            <li class="light-blue">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="static/ace/assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>欢迎,</small>
									Jason
								</span>

                    <i class="ace-icon fa fa-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li>
                        <a href="#">
                            <i class="ace-icon fa fa-cog"></i>
                            系统设置
                        </a>
                    </li>

                    <li>
                        <a href="profile.html">
                            <i class="ace-icon fa fa-user"></i>
                            个人信息
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>
                        <a href="#">
                            <i class="ace-icon fa fa-power-off"></i>
                            退出登录
                        </a>
                    </li>
                </ul>
            </li>

            <!-- /section:basics/navbar.user_menu -->
        </ul>
    </div>

    <!-- /section:basics/navbar.dropdown -->
</div>