<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>角色列表</title>
    <!-- 引入jquery文件 -->
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-responsive.css">
    <script type="text/javascript" src="static/common/js/jquery-1.8.3.js"></script>
    <script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    <h2>角色表单</h2>
    <div>
        <form id="userform">
            <div>
                <label>名称</label>
                <input type="text" name="role_name" data-options="required:true" />
            </div>
            <div>
                <label>编码</label>
                <input type="text" name="role_code" data-options="require:true'" />
            </div>
            <div>
                <label>类型</label>
                <input type="text" name="role_type" data-options="require:true'" />
            </div>
            <div>
                <input type="submit" id="submit" value="提交">
            </div>
        </form>
    </div>
</body>
<script>

    $("#submit").click(function(){
        var dataObj = $('#userform').serializeArray();
        $.ajax({
            url:'/role/addRole',
            type:'post',
            dataType:'json',
            data:dataObj,
            success:function(data){
                if(data.success){
                    alert(data.msg);
                }
            }
        });
    });

    /*$("#userform").form('submit',{
        url:'/user/addUser',
        onSubmit:function(){
            var form = $(this).serialize();
            console.log(form);
        },
        success:function(data){
            if(data.success){
                $.messager.show({
                    title:'提交成功',
                    msg:data.msg
                })
            }
        }
    })*/
</script>
</html>