<!--角色新增修改modal框-->
<div id="roleInfo" class="modal fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">角色信息</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 form">
                <form id="roleForm" class="form-horizontal" role="form">
                    <div class="form-body">
                        <!--验证信息-->
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            表单填写失败，请查看表单是否完整正确填写！
                        </div>
                        <div class="alert alert-success display-hide">
                            <button class="close" data-close="alert"></button>
                            表单填写填写正确！
                        </div>
                        <input type="hidden" id="_id" name="_id"/>
                        <div class="form-group">
                            <label class="col-md-3 control-label">角色编码</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="role_code"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">角色名称</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="role_name"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">角色类别</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="role_type"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">角色状态</label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa"></i>
                                    <input type="text" class="form-control" name="role_status"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-8">
                                <button id="submit" type="submit" class="btn btn-primary">确定</button>
                                <button id="cancel" class="btn btn-danger" data-dismiss="modal">取消</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--角色列表页面-->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span>角色列表</span>
                </div>
                <!--工具栏-->
                <div id="toolbar" class="actions">
                    <a id="btn_add" class="btn btn-primary" data-toggle="modal" data-target="#roleInfo">
                        <i class="fa fa-plus"></i> 新增角色
                    </a>
                    <a id="btn_edit" class="btn btn-success">
                        <i class="fa fa-edit"></i> 修改信息
                    </a>
                    <a id="btn_delete" class="btn btn-danger">
                        <i class="fa fa-trash"></i> 删除角色
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table id="roleList"></table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        initTable();
        formValidate();
    });

    /**
     * 初始化角色列表
     */
    function initTable(){
        $("#roleList").bootstrapTable({
            url:'/role/getRoleList',
            method:'get',
            cache:false,
            pagination:true,
            sidePagination:'client',
            pageNumber:1,
            pageSize:10,
            pageList:[10,20,30,40,50],
            uniqueId:'_id',
            toolbar:'#toolbar',
            showColumns:true,
            showRefresh:true,
            clickToSelect:true,//点击行选中行
            singleSelect:true,
            showToggle:true,
            search:true,
            columns:[
                {title:'ID',checkbox:true,width:'1%'},
                {field:'role_code',title:'角色编码',width:'10%'},
                {field:'role_name',title:'角色名称',width:'20%'},
                {field:'role_type',title:'角色类型',width:'20%'},
                {field:'role_status',title:'角色状态',width:'8%',align:'center'}
            ]
        });
    }

    /**
     * 使用jquery.validatebox插件验证表单
     */
    function formValidate(){
        var form = $('#roleForm');
        //提示信息展示区
        var error = $('.alert-danger',form);
        var success = $('.alert-success',form);

        form.validate({
            errorElement:'span',
            errorClass:'help-block help-block-error',
            focusInvalid:false,
            ignore:'',
            rules:{
                role_code:{
                    minlength:5,
                    required:true
                },
                role_name:{
                    minlength:2,
                    required:true
                },
                role_type:{
                    minlength:6,
                    required:true
                },
                role_status:{
                    digits:true,
                    required:true
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                success.hide();
                error.show();
                App.scrollTo(error, -200);
            },
            //验证不通过的错误信息高亮显示
            highlight: function (element) { // hightlight error inputs
                $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error');
            },
            //验证成功
            success: function (label, element) {
                var icon = $(element).parent('.input-icon').children('i');
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                icon.removeClass("fa-warning").addClass("fa-check");
            },

            //提交form表单
            submitHandler: function (form) {
                success.show();
                error.hide();
                formSubmit();
            }
        });
    }

    /**
     * form表单提交方法
     */
    function formSubmit(){
        var _id = $("#_id").val();
        var url = '';
        _id?url='/role/editRoleById':url='/role/addRole';

        var dataObj = $('#roleForm').serializeArray();
        $.ajax({
            url:url,
            type:'post',
            dataType:'json',
            data:dataObj,
            success:function(data){
                if(data.success){
                    $("#roleForm").formRest();
                    $("#roleInfo").modal('hide');
                    $("#roleList").bootstrapTable('refresh');
                }
            }
        });
    }

    //编辑角色按钮
    $("#btn_edit").click(function(){
        var row = $("#roleList").bootstrapTable('getAllSelections');
        if(row.length!=1){
            alert("请选择一条数据编辑修改");
        }else{
            $("#roleForm").loadForm(row);
            $("#roleInfo").modal('show');
        }
    });

    //删除角色按钮
    $("#btn_delete").click(function(){
        var row = $("#roleList").bootstrapTable('getAllSelections');
        var _id = row[0]._id;
        $.ajax({
            url:'/role/deleteRoleById',
            dataType:'json',
            type:'get',
            data:{_id:_id},
            success:function(result){
                if(result.success){
                    alert('删除角色成功！');
                    $("#roleList").bootstrapTable('refresh');
                }
            }
        })
    });

    //关闭模态框时的事件
    $("#cancel").click(function(){
        $("#roleForm").formRest();
    });
</script>