<!--角色列表页面-->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light bordered">
            <!--消息提示显示区-->
            <div id="alertContainer"></div>
            <div class="portlet-title">
                <div class="caption">
                    <span>角色列表</span>
                </div>
                <!--工具栏-->
                <div id="toolbar" class="actions">
                    <a id="btn_add" class="btn btn-primary" onclick="addRole()">
                        <i class="fa fa-plus"></i> 新增角色
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table id="roleList"></table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        initTable();
        formValidate();
    });

    function addRole(){
        window.location = '/role/roleInfo';
    }

    /**
     * 初始化角色列表
     */
    function initTable(){
        $("#roleList").bootstrapTable({
            url:'/role/getRoleList',
            method:'get',
            cache:false,
            pagination:true,
            sidePagination:'client',
            pageNumber:1,
            pageSize:10,
            pageList:[10,20,30,40,50],
            uniqueId:'_id',
            toolbar:'#toolbar',
            showColumns:true,
            showRefresh:true,
            clickToSelect:true,//点击行选中行
            singleSelect:true,
            showToggle:true,
            search:true,
            columns:[
                {title:'ID',checkbox:true,width:'1%'},
                {field:'role_code',title:'角色编码',width:'10%'},
                {field:'role_name',title:'角色名称',width:'20%'},
                {field:'role_sys',title:'所属系统',width:'20%',formatter:function(value,row,index){
                    return value.sys_name;
                }},
                {field:'role_status',title:'角色状态',width:'8%',align:'center'},
                {field:'operator',title:'操作',width:'12%',align:'center',
                    formatter:function(value,row,index){
                        return "<a id='btn_edit' onclick='editData("+JSON.stringify(row)+")' class='btn btn-success btn-xs'>"+
                                "<i class='fa fa-edit'></i>"+
                                "</a>"+
                                "<a id='btn_delete' onclick='deleteData("+JSON.stringify(row)+")' class='btn btn-danger btn-xs'>"+
                                "<i class='fa fa-trash'></i>"+
                                "</a>";
                    }
                }
            ]
        });
    }

    /**
     * 使用jquery.validatebox插件验证表单
     */
    function formValidate(){
        var form = $('#roleForm');
        //提示信息展示区
        var error = $('.alert-danger',form);
        var success = $('.alert-success',form);

        form.validate({
            errorElement:'span',
            errorClass:'help-block help-block-error',
            focusInvalid:false,
            ignore:'',
            rules:{
                role_code:{
                    minlength:5,
                    required:true
                },
                role_name:{
                    minlength:2,
                    required:true
                },
                role_type:{
                    minlength:2,
                    required:true
                },
                role_status:{
                    digits:true,
                    required:true
                }
            },
            invalidHandler: function (event, validator) { //display error alert on form submit
                success.hide();
                error.show();
                App.scrollTo(error, -200);
            },
            //验证不通过的错误信息高亮显示
            highlight: function (element) { // hightlight error inputs
                $(element)
                        .closest('.form-group').removeClass("has-success").addClass('has-error');
            },
            //验证成功
            success: function (label, element) {
                var icon = $(element).parent('.input-icon').children('i');
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                icon.removeClass("fa-warning").addClass("fa-check");
            },

            //提交form表单
            submitHandler: function (form) {
                success.show();
                error.hide();
                formSubmit();
            }
        });
    }

    /**
     * form表单提交方法
     */
    function formSubmit(){
        var _id = $("#_id").val();
        var url = '';
        _id?url='/role/editRoleById':url='/role/addRole';

        var dataObj = $('#roleForm').serializeArray();
        $.ajax({
            url:url,
            type:'post',
            dataType:'json',
            data:dataObj,
            success:function(data){
                if(data.success){
                    $("#roleForm").formReset();
                    $("#roleInfo").modal('hide');
                    successAlert('操作成功！');
                    $("#roleList").bootstrapTable('refresh');
                }
            }
        });
    }

    //编辑角色按钮
    function editData(row){
        if(!row){
            warnAlert('请选择一条数据编辑修改！');
            return false;
        }else{
            $("#roleForm").loadForm(row);
            $("#roleInfo").modal('show');
        }
    };

    //删除角色按钮
    function deleteData(row){
        if(!row){
            warnAlert('请选择一条数据删除！');
            return false;
        }
        var _id = row._id;
        $.ajax({
            url:'/role/deleteRoleById',
            dataType:'json',
            type:'get',
            data:{_id:_id},
            success:function(result){
                if(result.success){
                    successAlert('删除角色成功！');
                    $("#roleList").bootstrapTable('refresh');
                }
            }
        })
    };

    //关闭模态框时的事件
    $("#cancel").click(function(){
        $("#roleForm").formReset();
    });
</script>