<!--主要显示页面-->
<div class="portlet light bordered">
    <!--消息提示显示区-->
    <div id="alertContainer"></div>
    <div class="portlet-title">
        <div class="caption">
            <span>权限列表</span>
        </div>

        <!--工具栏-->
        <div id="toolbar" class="actions">
            <a id="btn_add" class="btn btn-primary" onclick="permitCommit()">
                <i class="fa fa-plus"></i> 设置权限
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <!-- 角色列表 -->
            <div class="col-md-4 col-sm-4">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span>角色列表</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <ul id="roles" class="list-group"></ul>
                    </div>
                </div>
            </div>

            <!-- 菜单权限 -->
            <div class="col-md-4 col-sm-4">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <span>菜单权限</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div id="menuTrees"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .list-group-item{
        cursor: pointer;
    }
</style>
<script>
    $(function() {
        initTable();
    });

    /**
     * 初始化表格
     */
    function initTable(){
        //获取角色列表
        $.ajax({
            url:'/role/roleListApi',
            method:'get',
            success:function(roleList){
                var lis = '';
                roleList.forEach(function(role){
                    var li = '<li class="list-group-item" value="'+role._id+'">'+role.role_name+'</li>';
                    lis += li;
                });
                $('#roles').append(lis);

                $('.list-group-item').on('click',function(){
                    var that = $(this);
                    $('.list-group-item').removeClass('active');
                    that.addClass('active');
                    //获取角色ID
                    var roleId = that.attr('value');

                    //初始化角色对应的菜单权限
                    initRolePermit(roleId);
                });
            },
            error:function(){
                dangerAlert('获取角色列表失败！');
            }
        });

        //获取树型菜单
        $('#menuTrees').jstree({
            'plugins': ["wholerow", "checkbox", "types"],
            'core': {
                "themes" : {
                    "responsive": true
                },
                'data': {
                    url:'/permit/getMenuTree',
                    dataType:'json'
                }
            },
            "types" : {
                "default" : {
                    "icon" : "fa fa-folder icon-state-warning icon-lg"
                },
                "file" : {
                    "icon" : "fa fa-file icon-state-warning icon-lg"
                }
            }
        });

        //展开所有节点
        $('#menuTrees').on('loaded.jstree',function(e,data){
            $('#menuTrees').jstree('open_all');
        });
    }

    /**
     * 提交授权
     * */
    function permitCommit(){
        var roleId = $('.list-group-item.active').attr('value');
        if(roleId){
            //获取选中的ID数组
            var selectedIds = $('#menuTrees').jstree('get_checked');
            //获取半选中的菜单
            $('#menuTrees').find('.jstree-undetermined').each(function(i,e){
                var pid = $(e).closest('a').parent().attr('id');
                selectedIds.push(pid);
            });

            $.ajax({
                url:'/permit/commitPermit',
                method:'post',
                data:{role_id:roleId,menu_ids:JSON.stringify(selectedIds)},
                success:function(result){
                    if(result.success){
                        successAlert('授权成功！');
                    }else{
                        dangerAlert('授权失败：'+result.msg);
                    }
                }
            });
        }else{
            dangerAlert('请选择角色！');
        }
    }

    /**
     * 初始化角色对应的菜单权限
     * @param roleId
     */
    function initRolePermit(roleId){
        $('#menuTrees').jstree('deselect_all');//清除前一次的选择
        if(!roleId){
            dangerAlert('获取角色信息失败，可能是没有角色ID。');
        }else{
            $.ajax({
                url:'/permit/getMenusByRoleId',
                method:'get',
                data:{roleId:roleId},
                success:function(results){
                    if(results.success){
                        var menus = results.data.menu_id;
                        //选中对应的节点
                        menus.forEach(function(menu){
                            $('#menuTrees').jstree('select_node',$('#menuTrees').jstree('get_node',menu));
                        })
                    }else{
                        dangerAlert('获取菜单列表失败:'+results.msg);
                    }
                }
            })
        }
    }
</script>