<!doctype html>
<html>
<head>
  <title>NODEJS-LAVENDOR</title>

  <!-- bootstrap & fontawesome -->
  <link rel="stylesheet" href="static/ace/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/ace/assets/css/font-awesome.min.css" />

  <!--basic scripts-->
  <script type="text/javascript" src="static/common/js/jquery-1.8.3.js"></script>
  <script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
</head>

<body>

  <!--头导航栏 navbar-->
  <div id="navbar" class="navbar navbar-default">
    {{>layout2/navbar}}
  </div>

  <!--主容器，容纳侧边导航栏和主页面-->
  <div id="container" class="container">

    <!--sidebar 侧边导航栏-->
    <div id="sidebar" class="sidebar responsive">
      {{>layout2/sidebar}}
    </div>

    <!--main-content 主页面内容-->
    <div class="main-content">
      {{{body}}}
    </div>

    <!--页脚版权信息展示区-->
    <div class="footer">
      {{>layout2/footer}}
    </div>
  </div>
</body>
</html>
